.col-sm-12 {
  height: 620px;
  background-color: yellow;
}

.header .col-sm-12{
  height: 120px;
  background-color: blue;
  margin-top: 15px;
}

.nav.col-sm-12{
  height: 35px;
  background-color: green;
}

.col-sm-9{
  height: 200px;
  background-color: red;
}

.col-sm-3{
  height: 200px;
  background-color: #66ccff;
}

.query-test{
  width:50%;
  background-color: #ff99ff;
  height: 400px;
}

/*Media Queries*/

@media screen and (max-width: 900px){
  .query-test {
    width: 80%;
    background-color: #ff000;
  }
}

@media screen and (min-width: 500px){
  h1.my-class {
    font-size: 70px;
  }
}


@media screen and (min-wdith:800px){
  h1.my-class{
    font-size: 20px;
  }
}
